@{
    ViewData["Title"] = "View Movie List";
}

@model List<Movie>

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-bordered table-hover" >
    <thead class="table-dark">
    <tr>
        <td>Category</td>
        <td>Title</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>Lent To</td>
        <td>Copied to Plex</td>
        <td>Notes</td>
    </tr>
    </thead>
    @foreach (var temp in Model)
    {
        <tbody>
        <tr>
            <td>@temp.Category.CategoryName</td>
            <td>@temp.Title</td>
            <td>@temp.Year</td>
            <td>@temp.Director</td>
            <td>@temp.Rating</td>
            <td>@(temp.Edited ? "Yes" : "No")</td>
            <td>@temp.LentTo</td>
            <td>@(temp.CopiedToPlex ? "Yes" : "No")</td>
            <td>@temp.Notes</td>

            <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@temp.MovieId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@temp.MovieId">Delete</a></td>
        </tr>
        </tbody>
    }
</table>